{{#> entry }}
    {{#*inline "body"}}
        <section class="section content">
            <h1>Subjects</h1>
            <ul>
                {{#each this as |contents| }}
                <li><a href="papers/{{space-to-dash (lowercase @key)}}">{{@key}}</a></li>
                {{/each}}
            </ul>
        </section>
    {{/inline}}
{{/entry}}