{{#> entry }}
    {{#*inline "body"}}
        <section class="section">
            <h2 class="title is-2">{{title}}</h2>
            <div class="columns">
                {{#each levels as |level|}}
                <div class="column">
                    <h3 class="title is-3">{{level.[0]}}</h3>

                    {{#each level.[1] as |path|}}
                    <p><a href="/{{path}}">{{file-stem path}}</a></p>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </section>
    {{/inline}}
{{/entry}}