{{#> entry }}
    {{#*inline "head"}}
        {{!-- Can append stuff to the default head here, optional but I'm including it just to not forget --}}
    {{/inline}}

    {{#*inline "body"}}
        <section class="section">
            <h1 class="title">Hello Handlebars!</h1>
            <p>Test value: {{this.value}}</p>
        </section>
    {{/inline}}
{{/entry}}