@media (min-width: 768px) {
    .table {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: [header] min-content [list] max-content;
    }

    .header-0 {
        grid-row: 1;
        grid-column: 1;
        padding-right: 1em;
    }

    .header-1 {
        grid-row: 1;
        grid-column: 2;
        padding-right: 1em;
    }

    .header-2 {
        grid-row: 1;
        grid-column: 3;
        padding-right: 1em;
    }

    .header-3 {
        grid-row: 1;
        grid-column: 4;
        padding-right: 1em;
    }
}